.item-position {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}
.ml-title-bg {
    height: 42px;
        /* 42/10 */
    ;
    // margin-top: 2.1rem;
    background: #ffffff;
    position: -webkit-sticky;
	position: -moz-sticky;
	position: -ms-sticky;
	position: sticky;
    top: 0;
    z-index: 20;
}

.ml-title {
    height: 20px;
    font-size:18px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: #000000;
    line-height: 20px;
    position: absolute; // 绝对定位
    top: 12.96px;
    left: 50%;
    transform: translate(-50%);
  }

// ::ng-deep.am-list-item .am-list-line .am-list-extra {
//     flex-basis: 65%;
// }

::ng-deep.am-textarea-label.am-textarea-label-2 {
    width: 85px;
}